# Ігнорувати файли середовищ розробки
.vscode/
.idea/

# Ігнорувати скомпільовані файли
*.exe
*.dll
*.so
*.dylib

# Ігнорувати папки для збірки
build/
dist/
__pycache__/

# Ігнорувати файли з логами та тимчасові файли
*.log
*.tmp

# Ігнорувати системні файли
.DS_Store
Thumbs.db