{% extends "base.html" %}
{% block content %}
<aside>
  <h1>🛴 ScootGo</h1>

  <div id="auth">
    <div class="card" id="register">
      <b>Реєстрація</b>
      <label>Email <input id="reg_email" type="email" placeholder="you@example.com"></label>
      <label>Пароль <input id="reg_pwd" type="password" placeholder="********"></label>
      <button class="primary" onclick="register()">Зареєструватися</button>
    </div>
    <div class="card" id="login">
      <b>Вхід</b>
      <label>Email <input id="login_email" type="email"></label>
      <label>Пароль <input id="login_pwd" type="password"></label>
      <button class="primary" onclick="login()">Увійти</button>
    </div>
  </div>

  
<div class="card" id="me" style="display:none">
  <div class="row" style="justify-content:space-between; align-items:center">
    <b id="me_email"></b>
    <button class="danger" onclick="logout()">Вийти</button>
  </div>

  <div class="row">
    <span class="badge">Баланс: <span id="me_balance">0</span> грн</span>
  </div>

  <div class="row">
    <input id="topup_sum" type="number" min="10" step="10" placeholder="Сума, грн">
    <button onclick="topup()">Поповнити</button>
  </div>
</div>



  <hr>

  <div class="card">
    <b>Пошук самокатів</b>
    <label>Радіус (км) <input id="radius" type="number" min="0" step="0.2" value="1.0"></label>
  <div class="row">
  <button type="button" class="primary" onclick="findScooters()">Знайти</button>
  <button type="button" onclick="showAll()">Показати всі</button>
</div>

<div class="row">
  <button type="button" onclick="useGeo()">Моя геолокація</button>
</div>

<hr>

<div class="card">
  <div><b>Активна поїздка:</b> <span id="trip_info">немає</span></div>
  <div id="trip_stats" style="font-size:12px; color:#555"></div>
  <button id="end_btn" style="display:none; margin-top:8px" onclick="endTrip()">Завершити поїздку</button>
</div>



<hr>

<small class="hint">Логи</small>
<div id="log" style="max-height:180px; overflow:auto; border:1px solid #eee; border-radius:8px; padding:8px"></div>
</aside>

<div id="map"></div>
{% endblock %}
